Repository iterative/mlem, pull requests merged in 2022-11, with the labels that each got.

#470 minor - mlem apply to print results always
  mlem/cli/apply.py
  mlem/cli/deployment.py
Labels: bug, cli

#462 Remove `xfail` mark from `tests/cli/test_main.py::test_commands_docs_links`
  tests/cli/test_main.py
Labels: :house_with_garden: housekeeping

#477 return ls as internal API
  mlem/core/metadata.py
  tests/core/test_metadata.py
Labels: api

#495 Run `pylint` for one Python version / OS only
  .github/workflows/check-test-release.yml
Labels: :house_with_garden: housekeeping, testing

#447 Binary Serializers
  mlem/api/commands.py
  mlem/contrib/fastapi.py
  mlem/contrib/lightgbm.py
  mlem/contrib/numpy.py
  mlem/contrib/pandas.py
  mlem/contrib/rabbitmq.py
  mlem/contrib/sagemaker/runtime.py
  mlem/contrib/tensorflow.py
  mlem/contrib/torch.py
  mlem/contrib/xgboost.py
  mlem/core/artifacts.py
  mlem/core/data_type.py
  mlem/core/model.py
  mlem/runtime/__init__.py
  mlem/runtime/client.py
  mlem/runtime/interface.py
  mlem/runtime/server.py
  setup.py
  tests/conftest.py
  tests/contrib/test_fastapi.py
  tests/contrib/test_lightgbm.py
  tests/contrib/test_pandas.py
  tests/contrib/test_venv.py
  tests/core/test_data_type.py
  tests/runtime/test_client.py
  tests/runtime/test_interface.py
Labels: data-format

#489 Enable rev option for local git repos
  mlem/contrib/git.py
  mlem/ext.py
  setup.py
  tests/core/test_metadata.py
Labels: git

#451 Add telemetry to API
  mlem/api/commands.py
  mlem/cli/apply.py
  mlem/cli/build.py
  mlem/cli/deployment.py
  mlem/cli/import_object.py
  mlem/cli/init.py
  mlem/cli/link.py
  mlem/cli/main.py
  mlem/cli/serve.py
  mlem/cli/utils.py
  mlem/core/metadata.py
  mlem/core/model.py
  mlem/telemetry.py
  setup.py
Labels: api, analytics
